[Desktop Entry]
Type=Application
Name=bitcore-init
Comment=Open bitcore applications
Exec=bash -lc 'ghostty --working-directory="$HOME/dev/bitcore/packages/bitcore-node" & zed -n ~/dev/bitcore; docker compose -f "$HOME/dev/bitcore/docker-compose.test.base.yml" -f "$HOME/dev/bitcore/docker-compose.test.ci.yml" up -d; brave'
Icon=bitcore
Terminal=false
Categories=Development;
StartupNotify=true
